{%extends 'inc/base.html'%}
{%load static%}
{%block content%}
<div style = "padding-bottom: 20px;">
  <div class = "row">
    <div class="col-3"><h1>New Question</h1></div>
  </div>
</div>

<p style="color: red">Sorry, too long title or no tags are found! <p>

<div class="cl_form">    
    <div class="row" >
        <div class="col-1">
            <p>Title</p>
        </div>
        <div class="col-11">
            <input type="text" class="form-control" id="title" placeholder="Title" maxlength="100">
            <small id="textHelpBlock" class="form-text text-muted">
                Max 100 characters
              </small>
        </div>    
    </div>
</div>

<div class="cl_form"> 
    <div class="row">
        <div class="col-1">
            <p>Text</p>
        </div>
        <div class = col-11>
            <form>
                <div class="form-group">
                <textarea class="form-control" id="QuestionArea" rows="5" placeholder="Text"></textarea>
                </div>
            </form>
        </div>
        
    </div>
</div>

<div class="cl_form"> 
    <div class="row">
        <div class="col-1">
            <p>Tags</p>
        </div>
        <div class="col-11">
            <input type="text" class="form-control" id="tags" placeholder="Tags">
            <small id="textHelpBlock" class="form-text text-muted">
                Minimum 1 tag
              </small>
        </div>    
    </div>
    <button type="button" class="btn btn-success" style="margin: 5% 0 10% 80%;">Send question</button>
</div>
{%endblock%}
