{%extends 'inc/base.html'%}
{%load static%}
{%block content%}

<div style = "padding-bottom: 20px;">
    <div class = "row">
        <div class="col-3"><h1>Log in</h1></div>
    </div>
</div>
<p style="color: red">Sorry, wrong password or login! <p>
<div class="cl_form">    
    <div class="form-group row">
        <label for="inputLogin">Login</label>
        <input type="text" id="inputLogin" class="form-control" aria-describedby="LoginHelp" style="width: 50%;" maxlength="25">
          <small id="LoginHelp" class="text-muted">
              Enter your login (max 25 characters)
        </small>
    </div>
</div>

<div class="cl_form"> 
    <div class="form-group row">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelp" style="width:50%;" maxlength="20">
    <small id="passwordHelp" class="text-muted">
        Must be 8-20 characters long.
    </small>
    </div>
</div>
<button type="button" class="btn btn-success" style="margin:  0 0 5% 5%; width: 15%;">Log in!</button>
<a href="signup.html" style="padding: 10%;">create new account</a>
{%endblock%}
