{%extends 'inc/base.html'%}
{%load static%}
{%block content%}
<div style = "padding-bottom: 20px;">
    <div class = "row">
        <div class="col-3"><h1>Registration</h1></div>
    </div>
</div>

<p style="color: red">Sorry, this email address is already registred! <p>
    <div class="cl_form">    
        <div class="form-group row">
            <label for="inputLogin">Login</label>
            <input type="text" id="inputLogin" class="form-control" aria-describedby="LoginHelp" style="width: 50%;" maxlength="25">
              <small id="LoginHelp" class="text-muted">
                  Enter your login
            </small>
        </div>
    </div>

<div class="cl_form">    
    <div class="form-group row">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control" aria-describedby="EmailHelp" style="width: 50%;" maxlength="40">
          <small id="EmailHelp" class="text-muted">
              Enter your email
        </small>
    </div>
</div>

<div class="cl_form">    
    <div class="form-group row">
        <label for="inputNickname">NickName</label>
        <input type="text" id="inputNickname" class="form-control" aria-describedby="nicknameHelp" style="width: 50%;" maxlength="25">
          <small id="nicknameHelp" class="text-muted">
              Enter your NickName
        </small>
    </div>
</div>

<div class="cl_form"> 
    <div class="form-group row">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelp" style="width:50%;" maxlength="20">
    <small id="passwordHelp" class="text-muted">
        Must be 8-20 characters long.
    </small>
    </div>
</div>

<div class="cl_form"> 
    <div class="form-group row">
    <label for="inputPassword">Repeat Password</label>
    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelp" style="width:50%;" maxlength="20">
    </div>
</div>

<form class="was-validated">
<div class="custom-file">
    <label class="custom-file-label" for="File">Upload avatar</label>
    <input type="file" class="custom-file-input" id="File" required>
    <div class="invalid-feedback">invalid file</div>
  </div>


<div class="custom-control custom-checkbox mb-3" style="margin-top: 5px;">
    <input type="checkbox" class="custom-control-input" id="ControlValidation" required>
    <label class="custom-control-label" for="ControlValidation">I agree with user Agreement</label>
    <div class="invalid-feedback">Accept user agreement to continue registration</div>
    </div>
</form>

<button type="button" class="btn btn-success" style="margin:  5% 0 5% 5%; width: 15%;">Register!</button>

{%endblock%}
